{
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "proseWrap": "never",
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf"
}